# Environments
.env
myenv/
venv/
ENV/
env.bak/
venv.bak/

# Google OAuth Credentials & Tokens
credentials.json
token.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS File System
.DS_Store

# IDEs
.vscode/
.idea/
